<!--comm-->
<!DOCTYPE html>
<head>
    <title>
        {%block title%}
        My base title written in html lenguage
        {%endblock title%}
    </title>
</head>

<html>
    <body>
        {% include 'pages/messages.html' %}

        {% comment %} Recuerda que es el ectends tansolo funcionará si en la platilla que se le es invocada esta 
        misma no teine un block content {% endcomment %}
        {%block content%}
        Contenido de base html
        {%endblock content%}
    </body>
</html>