<!--comment-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'forms.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
    <title>HomeWork</title>
</head>
<body>
<form method="POST" action='.'>
    {% csrf_token %}
    <h1>First form</h1>
    {{ form.as_p}} <hr>
    <h1>Second form</h1>
    {{ form_test.as_p}} <hr>
    <h1>Third Form</h1>
    {{ form_product.as_p}} 
    <input type='submit' value='SUBMIT'>
</form>
<hr>
<h1>Formset View - Fourth one</h1>

<form action='' method='POST'>
    {% csrf_token %}
    {{test_form.management_form}}
    <h1>The Form cicles</h1>
    {% for form in test_form %}
        <div>
           {{ form.as_p }}
           <br>
        </div>
    {% endfor %}

    <input type='submit' value='SUBMIT'>
</form>
<hr>
<h1>The Last One - Ultimate Forms</h1>
<form method="POST" action='.'>
    {% csrf_token %}
    {{ context.as_p}} 
    <input type='submit' value='SUBMIT'>
</form>
</body>
</html>
