<!--comment-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'dear_app/delete_two.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Deleting item</title>
</head>
<body>
    <h1>Delete - {{object.title}}</h1>
    <form method="POST" action='.'>
        {% csrf_token %}
        Are you sure to delete the {{object.title}}?
        <br>
        <input type="submit" value='Confirm'>
        <a href='/update/{{object.slug}}/'>Cancel</a>
    </form>
</body>
</html>