{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel='stylesheet' href="{% static 'dear_app/detail.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Detail View</title>
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <br><br>    
        <h2>Producto: {{object.title}} - {{object.id}} - {{object.slug}} </h2>
        <br><br>
        <h2>Color de {{object.title}}: {{object.color}}</h2>
        <br><br>
        <h2>${{object.price}}</h2>
        <br><br>
        <a href='/update/{{object.slug}}'>Update</a>
        <a href='/my-products/'>Back to items list</a>
        <br><br>
        <nav>
    {% if form %}
        {% include 'pages/forms.html' with form=form delete_url=object.get_delete_url linkstyle='dear_app/detail.css'  %}
    {% endif %}
    </nav>
        </div>
    </div>
</body>
</html>
