{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static linkstyle %}">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Update View</title>
</head>
<body>
    <h1>Creating a new product/item for ecomerce</h1>
    <form method="POST" action='.'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='keep all changes'><br><br>
        {% if link_cancel %}
            <a href={{link_cancel}}>Cancel !!!</a> <br><br>
        {% endif %}
        {% if delete_url %}
            <a href='{{delete_url}}'>Delete this item</a> <br><br>
        {% endif %}
    </form>
</body>
</html>

