<!-- comment -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'dear_app/list_three.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@600;700;800;900&family=Kanit:ital,wght@0,700;1,900&family=Orbitron:wght@700&family=Oswald:wght@500;700&family=REM&display=swap" rel="stylesheet">
    <title>Document list view</title>
</head>
<body>
    <div>
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %} 
        <a href='/creating_products/'>Create a new item or product for your E-commerce</a>
    </div>
    
    <hr>
    <ol>
        {% for object in object_list %}
            <li>
                <a href='/update/{{object.slug}}/'>Product-name: {{object.title}} - {{object.id}} - {{object.slug}}</a>
            </li>
        {% endfor %}
    </ol>
</body>
</html>