/*Default settings*/
*,*:before,*:after{
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'REM', sans-serif;
    background-image: linear-gradient(to top right, darkgreen, green,darkgreen);
    color: whitesmoke;
}
h1{
    margin: 90px 150px;
    padding-top: 50px;
}
form{
    margin-left: 150px;
    font-weight: 700;
}
input{
    padding: 7px 20px;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    margin-left: 45px;
    background-color: darkblue;
    color: whitesmoke;
    font-weight: 800;
}
[type='submit']{
    padding: 7px 20px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
