:root{
    --var1: inline-block;
    --var2: 100px;
    --var3: white;
}
/* My default settings */
*,*:before,*:after{
box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'REM', sans-serif;
    background-image: linear-gradient(to top right, darkblue, black,darkblue);
    color: var(--var3);
}
h1{
    color: var(--var3);
    display: var(--var1);
    margin: var(--var2);
}

a{
    padding: 6px 10px;
    background-color: rgba(201, 44, 44, 0.875);
    text-decoration: none;
    color: var(--var3);
    border: 1.5px solid;
    margin-left: 50px;
    font-weight: bold;
    width: 110px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

form{
    background-color: rgb(54, 51, 51);
    padding: 8px 5px;
    display: var(--var1);
    width: 700px;
    margin-left: var(--var2);
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
    position: relative;
    top: 70px;
}

input{
    padding: 7px 28px;
    color: gray;
    border-radius: 5px;
    border-color: var(--var3);
    font-size: 20px;
}
input:hover{
    cursor: pointer;
    font-weight: bold;
}
label{
    margin-right: 30px;
}
p{
    border-radius: 30px;
    display: flex;
    align-items: center;
}
textarea{
    border-radius: 20px;
    padding: 15px 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
    height: 80px;
}