*,*:before,*:after{
box-sizing: border-box;
}
body,html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'REM', sans-serif;
    background-image: linear-gradient(to top right, darkblue, black,darkblue);
    color: white;
}

h1,h2{
    margin-left: 60px;
}
nav{
    background-color: gray;
    padding: 20px 40px;
    position: relative;
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}